<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <h2 class="!text-3xl !font-extrabold !mb-10">Savings Goal</h2>

  <!-- Current Goal Display -->
  <section class="mb-8" *ngIf="savingsGoal">
    <div>
      <h3 class="!text-xl !font-bold">Target Savings</h3>
      <p class="text-3xl font-inter font-bold text-gray-900 flex items-start mt-2">
        {{ savingsGoal.amount.toFixed(2) }}
        <span class="ml-1 font-jetbrains text-xl font-medium text-gray-500">€</span>
      </p>
      <div class="flex justify-between items-center text-sm mt-4 mb-2">
        <span>Current: {{ currentSavings.toFixed(2) }}€</span>
        <span class="font-medium" style="color: #ff4081">
          {{ progress.toFixed(1) }}%
        </span>
      </div>
      <mat-progress-bar
        [value]="progress"
        [color]="progress >= 100 ? 'primary' : 'accent'"
      >
      </mat-progress-bar>
    </div>
   </section>

  <!-- Set Goal Form -->
  <section class="bg-white rounded-lg shadow p-6 [box-shadow:rgba(0,_0,_0,_0.24)_0px_3px_8px]">
    <h3 class="text-xl font-semibold mb-4" style="color: #ff4081">
      {{ savingsGoal ? 'Update' : 'Set' }} Savings Target
    </h3>

    <form [formGroup]="form" 
          (ngSubmit)="onSubmit()" 
          class="flex flex-col gap-4">
      
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Target Amount</mat-label>
        <span matPrefix class="ml-4 mr-2">€&nbsp;</span>
        <input 
          matInput
          type="number"
          formControlName="amount"
          placeholder="0.00"
        >
        <mat-error *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched">
          {{ getErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <button 
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="form.invalid"
        class="w-full py-2 bg-purple-600 hover:bg-purple-700 text-white"
      >
        {{ savingsGoal ? 'Update' : 'Set' }} Target
      </button>
    </form>
  </section>
</div>