<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <h2 class="!text-3xl !font-extrabold !mb-10">About</h2>
  
  <p class="text-lg mb-6">
    Welcome to my first Angular application! My name is Roman, a recent Software Engineering graduate with over 1.5 years of full-stack development experience.
  </p>
  
  <p class="text-lg mb-6">
    Passionate about problem-solving and continuous growth, I am proficient in TypeScript, React, SCSS, and various libraries for state management and UI styling, which I've used to create dynamic and responsive frontend applications. I also have experience with Node.js, Express, C#, and ASP.NET Core for robust backend development.
  </p>
  
  <p class="text-lg mb-6">
    I'm currently learning Angular to expand my knowledge and enhance my skills in building dynamic web applications. This app serves as a personal project to apply what I'm learning and to explore Angular's capabilities in creating effective financial management tools.
  </p>
  
  <p class="text-lg">
    I hope you find this application useful for managing your finances. Feel free to explore its features, and any feedback is greatly appreciated!
  </p>
</div>
