<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <!-- Left side - Logo -->
      <div class="flex items-center">
        <div class="flex-shrink-0 flex items-center">
          <a routerLink="/home" class="text-xl font-bold text-gray-800 hover:text-gray-900 font-outfit">ZeroSpend</a>
        </div>
      </div>
      
      <!-- Navigation Links -->
      <div class="flex items-center">
        <div class="flex space-x-4">
          <a routerLink="/home" 
             routerLinkActive="text-black"
             class="px-3 py-2 text-gray-600 hover:text-gray-900 inline-flex items-center text-sm font-medium">
            Home
          </a>
          <a routerLink="/budget" 
             routerLinkActive="text-black"
             class="px-3 py-2 text-gray-600 hover:text-gray-900 inline-flex items-center text-sm font-medium">
            Budget
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>