<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <h2 class="!text-3xl !font-extrabold !mb-10">Home</h2>

  <!-- Balance Section -->
  <section class="mb-8">
    <div>
      <h3 class="!text-xl !font-bold">Total Balance</h3>
      <div class="flex items-center">
        <p class="text-3xl font-inter font-bold text-gray-900 flex items-start">
          {{ currentBalance.toFixed(2) }}
          <span class="ml-1 font-jetbrains text-xl font-medium text-gray-500">€</span>
        </p>
        <span class="text-md font-inter font-medium text-purple-600 mb-3 ml-2">
          (+{{ savingsAmount.toFixed(2) }}€)
        </span>
      </div>
    </div>
  </section>

  <!-- Stats Cards Grid -->
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-8">
    <app-transaction-card
      [transactionType]="TransactionType.INCOME"
      (onTransactionAdded)="handleAddTransaction($event)">
    </app-transaction-card>
  
    <app-transaction-card 
      [transactionType]="TransactionType.EXPENSE"
      (onTransactionAdded)="handleAddTransaction($event)">
    </app-transaction-card>
  
    <app-transaction-card
      [transactionType]="TransactionType.SAVINGS"
      (onTransactionAdded)="handleAddTransaction($event)">
    </app-transaction-card>
  </section>

  <!-- Transaction History -->
  <section class="mt-8 pb-8">
    <h3 class="!text-xl !font-bold mb-4">Transaction History</h3>
    <app-transaction-history></app-transaction-history>
  </section>
</div>