<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
  <h2 class="!text-3xl !font-extrabold mb-8">Home</h2>
  <!-- Balance Section -->
  <section class="mb-8">
    <app-balance 
      [currentBalance]="currentBalance"
      [savingsAmount]="savingsAmount">
    </app-balance>
  </section>

  <!-- Stats Cards Grid -->
  <section class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
    <!-- Income Transaction Form -->
    <app-transaction 
      [transactionType]="TransactionType.INCOME"
      (onTransactionAdded)="handleAddTransaction($event)">
    </app-transaction>

    <!-- Expense Transaction Form -->
    <app-transaction 
      [transactionType]="TransactionType.EXPENSE"
      (onTransactionAdded)="handleAddTransaction($event)">
    </app-transaction>

    <!-- Savings Form -->
    <app-savings
      (onSavingsAdded)="handleAddTransaction($event)">
    </app-savings>
  </section>

  <!-- Transaction History -->
  <section class="mt-8 pb-8">
    <h3 class="!text-xl !font-bold mb-4">Transaction History</h3>
    <app-transaction-history></app-transaction-history>
  </section>
</div>