<div class="bg-white rounded-lg shadow p-6 [box-shadow:rgba(0,_0,_0,_0.24)_0px_3px_8px]">
  <h2 class="text-xl font-semibold mb-4"
      [ngClass]="{
        'text-green-600': transactionType === 'income',
        'text-red-600': transactionType === 'expense'
      }">
    Add {{ transactionType === 'income' ? 'Income' : 'Expense' }}
  </h2>

  <form [formGroup]="form" 
        (ngSubmit)="onSubmit()" 
        class="flex flex-col gap-4">
    
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Amount</mat-label>
      <span matPrefix class="ml-4 mr-2">€&nbsp;</span>
      <input 
        matInput
        type="number"
        formControlName="amount"
        placeholder="0.00"
      >
      <mat-error *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched">
        {{ getErrorMessage('amount') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input 
        matInput
        type="text"
        formControlName="title"
        placeholder="e.g., Salary, Rent"
      >
      <mat-error *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
        {{ getErrorMessage('title') }}
      </mat-error>
    </mat-form-field>

    <button 
      mat-raised-button
      type="submit"
      [disabled]="form.invalid"
    >
      Add {{ transactionType === 'income' ? 'Income' : 'Expense' }}
    </button>
  </form>
</div>