<div class="p-4 bg-white rounded-lg [box-shadow:rgba(0,_0,_0,_0.24)_0px_3px_8px]">
  <h2 class="text-xl font-semibold mb-4"
      [ngClass]="{
        'text-green-600': transactionType === TransactionType.INCOME,
        'text-red-600': transactionType === TransactionType.EXPENSE
      }">
    Add {{ transactionType === TransactionType.INCOME ? 'Income' : 'Expense' }}
  </h2>
  
  <form #transactionForm="ngForm" (ngSubmit)="addTransaction(amount.value, title.value)" class="space-y-4">
    <div>
      <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
      <input 
        type="number" 
        id="amount" 
        #amount
        required
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
        placeholder="Enter amount"
      >
    </div>

    <div>
      <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
      <input 
        type="text" 
        id="title" 
        #title
        required
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
        placeholder="Enter title"
      >
    </div>

    <button 
      type="submit" 
      class="w-full bg-neutral-600 text-white px-4 py-2 rounded-md hover:bg-neutral-700 transition-colors"
    >
      Add {{ transactionType === TransactionType.INCOME ? 'Income' : 'Expense' }}
    </button>
  </form>
</div>